*{
  padding: 0;
  margin: 0;
}
.home-page{
  background-color: #326690;
  display: flex;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  
}

.selections{
  width: 50%;
  display: flex;
  flex-direction: flex-start;
  justify-content: center;
  
}

.checkboxes{
  width: 50%;
  display: flex;
  flex-direction: flex-end;
  justify-content: center;
}